name: Download PackageManagerService

on:
  workflow_dispatch:

jobs:
  download-and-upload:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: Jesusdio2/Jesusdio2-Android

      - name: Download PackageManagerService.java
        run: |
          mkdir -p platform/frameworks/base/services/core/java/com/android/server/pm
          curl -L \
            "https://android.googlesource.com/platform/frameworks/base/+/refs/heads/android16-release/services/core/java/com/android/server/pm/PackageManagerService.java?format=TEXT" \
            | base64 --decode \
            > platform/frameworks/base/services/core/java/com/android/server/pm/PackageManagerService.java

      - name: Upload PackageManagerService.java as artifact
        uses: actions/upload-artifact@v4
        with:
          name: PackageManagerService
          path: platform/frameworks/base/services/core/java/com/android/server/pm/PackageManagerService.java
