name: Sync pm directory from AOSP

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync-pm-directory:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: Jesusdio2/Jesusdio2-Android

      - name: Download pm Java files
        run: |
          mkdir -p platform/frameworks/base/services/core/java/com/android/server/pm

          declare -a files=(
            PackageManagerService.java
            PackageManagerServiceUtils.java
            InstallPackageHelper.java
            PackageSetting.java
            PackageManagerShellCommand.java
            PackageStateInternal.java
            PackageManagerLocal.java
            ScanPackageUtils.java
          )

          for file in "${files[@]}"; do
            curl -L \
              "https://android.googlesource.com/platform/frameworks/base/+/refs/heads/android16-release/services/core/java/com/android/server/pm/$file?format=TEXT" \
              | base64 --decode \
              > platform/frameworks/base/services/core/java/com/android/server/pm/$file
          done

      - name: Commit all pm files
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add platform/frameworks/base/services/core/java/com/android/server/pm/
          git diff --cached --quiet || git commit -m "Sync pm Java files from AOSP"
          git push
