name: Sync PackageManagerService

on:
  workflow_dispatch:

jobs:
  sync-framework:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: Jesusdio2/Jesusdio2-Android

      - name: Download PackageManagerService.java
        run: |
          mkdir -p platform/frameworks/base/services/core/java/com/android/server/pm
          curl -L \
            https://android.googlesource.com/platform/frameworks/base/+/refs/heads/android16-release/services/core/java/com/android/server/pm/PackageManagerService.java?format=TEXT \
            | base64 --decode \
            > platform/frameworks/base/services/core/java/com/android/server/pm/PackageManagerService.java

      - name: Commit updated file
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add platform/frameworks/base/services/core/java/com/android/server/pm/PackageManagerService.java
          git commit -m "Sync PackageManagerService.java from AOSP"
          git push
